html, body {

    margin: 0px;
    padding: 0px;
}

table, td, th {

    border: 1px solid rgb(9, 44, 27);
    border-collapse: collapse;
    margin:0px;
    padding :0px;
}

table>td>input{
    border: 0px;
}